<div class="tabs">
  <a routerLink="/bookmarks" routerLinkActive="active" class="tab bookmark-tab">
    <div class="tab-title">
      <span class="material-icons-outlined"> bookmarks </span>
    </div>
  </a>

  <a routerLink="/todos" routerLinkActive="active" class="tab todo-tab">
    <div class="tab-title">
      <span class="material-icons-outlined"> check </span>
    </div>
  </a>

  <a routerLink="/notes" routerLinkActive="active" class="tab note-tab">
    <div class="tab-title">
      <span class="material-icons-outlined"> notes </span>
    </div>
  </a>
</div>
