<div class="add-note-wrapper container has-blured-white-bg">
  <h2 class="is-bold">Note Details</h2>
  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <input
      class="text-box"
      ngModel
      name="title"
      type="text"
      placeholder="Enter note title..."
    />
    <textarea
      class="textarea"
      ngModel
      name="content"
      placeholder="Enter note content..."
    ></textarea>
    <div class="btn-container">
      <a class="btn" routerLink="../">Cancel</a>
      <button type="submit" class="btn align-end">Create note</button>
    </div>
  </form>
</div>
